<div class="card product-list" *ngFor = 'let product of products'>
  <div class="row">
    <div class="col-sm-3">
      <img [src] = 'product.imgUrl' [alt]='product.name'>
    </div>
    <div class="col-sm-9">
      <div class="card-body">
        <h4 class="card-title">{{ product.name }}</h4>
        <p class="card-text">
          {{ product.price|currency:'INR':true:'1.0-0' }}
          <button class="btn btn-primary" (click)="addToCart(product)"><i class="fa fa-cart-plus"></i> Add to Cart</button>&nbsp;
          <button class="btn btn-success">Buy Now</button>
        </p>
      </div>
    </div>
  </div>
</div>
